In [1]:
import pickle
import pandas as pd

import glob
import os

In [2]:
%config InlineBackend.figure_format = 'retina'

In [ ]:
pd.__version__

In [5]:
data_dir = '2020빅콘테스트 문제데이터(혁신아이디어분야)/'

In [6]:
fnames = glob.glob('외부데이터/지방행정 인허가 데이터/20200831/fulldata_*.xlsx')

In [7]:
def filter_roi(df):
    df = df[df['소재지전체주소'].str.contains('서울특별시 중구').fillna(False) 
            | df['도로명전체주소'].str.contains('서울특별시 중구').fillna(False)
            | df['소재지전체주소'].str.contains('서울특별시 노원구').fillna(False)
            | df['도로명전체주소'].str.contains('서울특별시 노원구').fillna(False)
            | df['소재지전체주소'].str.contains('대구광역시 중구').fillna(False)
            | df['도로명전체주소'].str.contains('대구광역시 중구').fillna(False)
            | df['소재지전체주소'].str.contains('대구광역시 수성구').fillna(False)
            | df['도로명전체주소'].str.contains('대구광역시 수성구').fillna(False)]
    
    return df

for i, fname in enumerate(fnames):
    df = None
    
    xl = pd.ExcelFile(fname)

    for s_name in xl.sheet_names:
        if df is None:
            df = filter_roi(xl.parse(s_name))
        else:
            df.append(filter_roi(xl.parse(s_name)))

    with open(fname.replace('.xlsx', '_roi.pkl'), 'wb') as file:
        pickle.dump(file=file, obj=df)
        
    print('%d / %d' % (i, len(fnames)), end='\r')

In [12]:
df = pd.read_pickle('외부데이터/지방행정 인허가 데이터/20200831/fulldata_03_13_01_P_영화배급업_roi.pkl')

In [13]:
df

,번호,개방서비스명,개방서비스ID,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,음향시설여부,편의시설여부,소방시설여부,총게임기수,기존게임업외업종명,제공게임물명,공연장형태구분명,품목명,최초등록시점,지역구분명
72,73,영화배급업,03_13_01_P,3010000,CDFF5211032010000005,20100428.0,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20100428,NaN
73,74,영화배급업,03_13_01_P,3010000,CDFF5211032009000005,20090910.0,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20090910,NaN
74,75,영화배급업,03_13_01_P,3010000,CDFF5211032016000009,20100604.0,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20100604,NaN
75,76,영화배급업,03_13_01_P,3010000,CDFF5211032007000003,20071130.0,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20071130,NaN
76,77,영화배급업,03_13_01_P,3010000,CDFF5211032016000008,20070612.0,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20070612,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1446,1447,영화배급업,03_13_01_P,3410000,CDFF5211032000000001,20000328.0,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20000328,NaN
1447,1448,영화배급업,03_13_01_P,3410000,CDFF5211032001000001,20010202.0,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20010202,NaN
1448,1449,영화배급업,03_13_01_P,3410000,CDFF5211032014000001,20140318.0,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20140318,NaN
1449,1450,영화배급업,03_13_01_P,3410000,CDFF5211032002000001,20021001.0,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20021001,NaN
1460,1461,영화배급업,03_13_01_P,3460000,CDFF5211032011000001,20110620.0,NaN,3,폐업,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20110620,NaN